*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.coffee-single-wrapper {
    padding: 2rem;
    max-width: 1200px;
    margin: 10px 0 0 60px;
    font-family: sans-serif;
  }
  
  .coffee-single-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  .icons-container{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:20%;
    margin-bottom:20px;
 
    
  }
  .bi-share-fill{
    font-size:24px;
    color: #4b2e2a;
    cursor:pointer;
  }
  
  .coffee-single-image-box {
    flex: 1;
     min-width: 200px; 
    max-width: 500px; 
  }  
 
   .heart{
    color: #4b2e2a;
    margin-bottom: 10px,
   }
  
  .coffee-single-image {
    width: 80%;
    height:60%;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
   
  }
  
  .coffee-single-info {
    flex: 1;
    min-width: 300px;
    font-size:1rem;
  }
  
  .coffee-single-title {
    font-size: 2.2rem;

  
  }
  
  .coffee-single-description {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .coffee-single-info p {
    margin: 0.5rem 0;
  }
  
  .coffee-single-weight,
  .coffee-single-roast,
  .coffee-single-quantity {
    margin: 1rem 0;
  }
  
  .coffee-single-weight select,
  .coffee-single-roast select,
  .coffee-single-quantity input {
    padding: 0.4rem;
    margin-left: 0.5rem;
    border:none;
    border:1px solid #d2b48c;
   
  }
  select:focus,
  .coffee-single-quantity input {
    outline: none;
    border: none; 
    border:1px solid #d2b48c;
   
  }

  
  .coffee-single-quantity input {
    width:10%;
    border:none;
    border:1px solid #d2b48c;
  }
  
  .coffee-single-add-btn {
   margin-top: 1.5rem;
    padding: 0.6rem 2rem;
    background-color:#4b2e2a;
    color:bisque;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .coffee-single-add-btn:hover {
    background-color: #61413d;
   
  }
  
  .coffee-single-long-description {
    border-top: 1px solid #ddd;
    padding: 2rem 0;
  
  }
  
  .coffee-single-long-description h3{
    color:#4b2e2a;
  }
  
  .coffee-single-long-description h5 {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin:20px 0;
  }
  .bi-arrow-left{
    font-size:26px;
    cursor: pointer;
  
    margin-bottom:20px;
     display:inline-block;
  }
  .totalPrice{
    font-size:24px;
   padding:20px 0 5px 0;

  }