*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.star-rating {
    display: inline-block;
  }
  
  .star {
    font-size: 1.5rem;
    color: #e0e0e0; 
  }
  
  .star.full {
    color: #ffcc00; 
  }
  
  .star.half {
    color: #ffcc00; 
    background: linear-gradient(to right, #ffcc00 50%, #e0e0e0 50%); 
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  .star.empty {
    color: #e0e0e0;
  }
  