* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 10px auto 70px auto;
}
.container h1 {
  text-align: center;
  color: #4b2e2a;
  margin: 50px auto;
}
.coffee-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.coffee-card {
  /* background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px;
  width: calc(25% - 40px);
  text-align: left;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; */
  flex: 0 1 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #fff;
}

.coffee-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.coffee-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.btn-all-coffees {
  text-decoration: none;
  color: bisque;
  background-color: #4b2e2a;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.coffee-card:hover .btn-all-coffees {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-in-out;
}

.image-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.default-img,
.hover-img {
  transition: all 0.6s ease-in-out;
}
.hover-img {
  display: none;
}

.coffee-card:hover .default-img {
  display: none;
}

.coffee-card:hover .hover-img {
  display: block;
}

.coffee-card h2 {
  font-size: 1.4rem;
  margin: 12px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.description {
  text-align: start;
}
.coffee-card p {
  font-size: 0.9rem;
  color: #555;
  margin: 5px 0;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .coffee-card {
    width: calc(33.33% - 20px);
  }
}

@media (max-width: 768px) {
  .coffee-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .coffee-card {
    width: 100%; /* 1 card per row on mobile */
  }
}
