* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width:80%;
  
 
}
.container h2 {
  text-align: center;
  color: #4b2e2a;
  margin: 50px auto;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  font-size:2.2rem;
}
.coffee-cards {
  display: flex;
  
  flex-wrap: wrap;
  gap: 40px;
}

.coffee-card {
  flex: 0 1 350px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f0e6;
  margin-left:15px;
}
.read-more {
  margin-left: 10px;
  color: #4b2e2a;
}

.coffee-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.coffee-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.btn-all-coffees {
 color: bisque;  
  background-color: #4b2e2a;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  text-align: center;
  border: none;
  outline: none;
}

.coffee-card:hover .btn-all-coffees {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-in-out;
}

.image-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.default-img,
.hover-img {
  transition: all 0.6s ease-in-out;
}
.hover-img {
  display: none;
}

.coffee-card:hover .default-img {
  display: none;
}

.coffee-card:hover .hover-img {
  display: block;
}

.coffee-card h2 {
  font-size: 1.4rem;
  margin: 12px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.description {
  text-align: start;
}
.coffee-card p {
  font-size: 1rem;
  color: #555;
  margin: 5px 0;
  overflow: hidden;
}
.bi-arrow-right{
  font-size:20px;
  color:#4b2e2a;
}


@media (max-width: 768px) {
  .container {
    margin: 10px 20px 50px 20px;
  }

  .container-coffees h1 {
    font-size: 1.8rem;
    margin: 30px auto;
  }

  .coffee-cards {
    justify-content: center;
    gap: 16px;
  }

  .coffee-card {
    flex: 0 1 90%;
    padding: 14px;
  }

  .coffee-card h2 {
    font-size: 1.2rem;
  }

  .btn-all-coffees {
    padding: 8px;
    font-size: 0.9rem;
  }

  .image-container {
    height: 300px;
  }

  .bi-arrow-right {
    font-size: 18px;
  }
}


@media (max-width: 480px) {
  .coffee-cards {
    flex-direction: column;
    align-items: center;
  }

  .coffee-card {
    width: 100%;
    flex: 0 1 100%;
    padding: 12px;
  }

  .coffee-card h2 {
    font-size: 1.1rem;
  }

  .coffee-card p {
    font-size: 0.95rem;
  }

  .btn-all-coffees {
    font-size: 0.85rem;
    padding: 8px 12px;
  }

  .read-more {
    margin-left: 6px;
    font-size: 0.95rem;
  }

  .bi-arrow-right {
    font-size: 16px;
  }

  .image-container {
    height: 240px;
  }
}
