
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.our-origins {
padding: 2rem;
text-align: center;
background-color: #fcf0e6;
width:100%;
margin: auto;
border-radius: 20px;

}

.section-title {
 color: #4b2e2a;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
 
}


.coffee-list {
  display: flex;
  flex-direction: column; 
  justify-content: start;
  align-items: center;
  
}


.coffee-card {
  display: flex;
  flex-direction: column;
   justify-content: center;
  align-items: start; 
  width: 90%;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition:all 0.5s ease-in-out;
  gap:10px;
 
}

.ln{
  color: #4b2e2a;
  text-decoration: none;

}

.coffee-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
 .coffee-title {
 
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}
 
 .coffee-card .coffee-image {
   width: 80%; 
  display:block;
  margin:0 auto;
  border-radius: 20px;
  height: 40vh;
  background-color: #ddd;
  margin-bottom: 1rem;

 }
 
.coffee-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  color: #fff;
 
} 
 
 .coffee-details .coffee-description1 {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #2b2a2a;
  margin:20px auto;
  width:90%;
  font-weight:800; 
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}  


.order-button {
 color:#4B2E2A;
  background-color:  #d2b48c;
  font-weight: bold;
  padding: 15px 20px; 
  width:100%;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size:1.3rem;
  transition: background-color 0.3s ease;
}

.order-button:hover {
  background-color: #ead0ab;
}
.our-origins .section-slogan {
    font-size: 1.2rem;
    font-weight: 600; 
    margin: 30px auto 50px;
    color:#4B2E2A;
    line-height: 1.6;
    max-width: 800px;


  } 
  

  
@media (max-width: 768px) {
    .section-title {
      font-size: 2rem;
      text-align: center;
    }
     
   
    .coffee-card {
      padding: 20px;
      border-radius: 10px;
      text-align: left;
     
    }
  
    .coffee-title {
      font-size: 1.3rem;
      text-align: left;
    }
  
    .coffee-description {
      font-size: 0.9rem;
      text-align: left;
    }
  
    .coffee-details {
      align-items: flex-start;
    }
  
    .order-button {
      font-size: 1.1rem;
      padding: 12px 16px;
    }
  }
   

